@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";

}

a {
    color: #000;
}

/* header */

.header {
    background-color: #fff;

    position: fixed;
    width: 100%;
    z-index: 11;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;

    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    z-index: 100;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;

}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 290px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 60em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}



/* / crowsel / */

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 5;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked .control-1 .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked .control-2 .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked .control-3 .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: white;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* / text on crowsal / */
.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

/* / to make header no trs */

.index {
    position: absolute;
    z-index: 1;
}

nav {
    background-color: #fff;
}


.products h3 {
    color: red;
    text-align: center;
    margin-top: 5%;

}

.products p {
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 250px;

    margin: 20px;
    border-radius: 15px;
    border: solid rgba(163, 158, 158, 0.178) 1px;
}

.card-img img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 170px;
}

.card-body {
    padding: 10px 10px;
}

.card-body h4 {
    font-weight: lighter;
}

.card-body h4,
span {
    text-align: left;

}

.card-body span {
    font-weight: 400;
    font-size: 16px;
    font-weight: bold;
}

.card-body p {
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}


/* gallery section */


.gallery {
    background-color: #d77145;
    height: 300px;

}

.gallerytitle {
    color: #fff;

    text-align: center;
    padding: 40px 0;
    font-size: 22px;

}

.gall {
    width: 80%;
    justify-content: center;
    align-items: center;
}

.gallery1 {
    display: flex;
    align-content: center;

    width: 14%;
    position: relative;
    left: 13%;
}

.gallery1 img {
    width: 100%;
}


.footerlinks {
    margin-top: -5px;
    width: 100%;
    background-color: black;
    border-collapse: collapse;
    color: white;
}

.tdlinks {
    padding: 20px;
    text-align: center;
}

.copright {
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    background-color: #5e5b5b;
    color: white;
}

/* about us page */
.banners {
    position: relative;
    text-align: center;
    color: white;

}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banners img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.centered h4 {
    padding: 30px 0;
}

/* about section starts */
.about-section h4 {
    text-align: center;
    padding: 5% 0% 2% 0%;
}

.about-section {
    width: 60%;
    margin-left: 22%;
    padding-bottom: 5%;
}

.aboutus {
    text-align: justify;
    text-align: center;

}

.aboutus p {
    padding: 10px 10px;

}


.aboutimgfirst {
    display: flex;
}

.aboutimgfirst1 {
    display: flex;
}

.imagefirst img {

    width: 100%;
    height: 100%;
}

.imagefirst {
    flex: 1;

    width: 100%;
}

.testfieldsecond {
    flex: 1;

    background-color: #d77145;
    color: #fff;

}

.testfieldforspace {
    width: 60%;
    position: relative;
    top: 25%;
    left: 20%;
    height: 60%;
}

.testfieldforspace h4 {
    font-size: 14px;
    padding: 10px 0px;

}

.testfieldforspace p {
    padding: 10px 0;
}





@media screen and (max-width: 955px) {



    .cname p {
        font-size: 11px;

    }


    nav li a {
        font-size: 16px;
        padding: 0 10px;
    }

    .gallery {
        height: 250px;
    }
    .header .logo{
        font-size: 16px;
    }

   

    .aboutimgfirst2 {
        flex-direction: column;
    }

    .testfieldforspace1 p{
        font-size: 12px;
    }



}

@media screen and (max-width: 1100px) {
    .aboutimgfirst {
        flex-direction: column;
    }

    .aboutimgfirst1 {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 600px) {
    .centered {
        font-size: 10px;
    }
}


@media screen and (max-width: 575px) {

    .gallery {
        height: auto;
    }
    .header .logo{

        font-size: 11px;
    }

    .gallery1 {

        flex-direction: column;
        width: 100%;
        padding-bottom: 10%;
    }

    .footerlinks tr {
        font-size: 11px;
    }
}

/* single product */
.smallimg{
    height: 100%;
    width: 100%;
}

.bigimg{
    height: 100%;
    width: 100%;
}

.aboutimgfirst2 {
    display: flex;
    width: 70%;

}

.widthpro{
    display: flex;
    margin: 0px;
    justify-content: center;
}

.imagefirst1 {
    flex: 1;
    width: 100%;
}

.testfieldsecond1 {
    flex: 1;
    margin: 0px;
    color: #000;

}

.testfieldforspace1 {
    width: 90%;
    position: relative;
    left: 3%;
    height: 60%;
}

.testfieldforspace1 h4 {
    font-size: 14px;
    padding: 10px 0px;

}

.testfieldforspace1 p {
    padding: 10px 0;
}

/* contact us */

.carousel-item1 img {
    display: block;
    height: 250px;
    width: 100%;
}

.contactbtn{
    color: white;
    background-color: #d77145; 
    padding: 10px 28px; 
    border: 0px;
    display: flex;
    justify-content: center;
}
.contactinput{
    width: 100%;
    height: 35px;
    border: 2px outset #ccc;
}
.flex-contact{
    display: flex;
    flex-direction: row;
}
.contactalign{
    display: flex;
    justify-content: center;
}

.contactalign form{
    width: 50%;
}


/* product details fonts / */

@media (max-width: 1060px) {

    .testfieldforspace1 p{
        font-size: 14px;
    }
    .contactalign form{
        width: 80%;
    }
}

/* contact us img*/

@media (max-width: 600px) {

    .carousel-item1 img {
        display: block;
        height: 150px;
        width: 100%;
    }
    .contactalign form{
        width: 100%;
    }

}

.navbardiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex: 25%;
    width: 100%;
    margin-top: 2%;
}

.topsection{
    display: flex;
    flex-direction: column;

}
.topsection a{
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
}




.masterdiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contentdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 70%;
    width: 100%;
}

.page{
    display: flex;
   
    
    justify-content: flex-start;
    align-items: center;
    flex: 25%;
    width: 100%;
    margin-top: 2%;
}

  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #d77145;
    color: white;
    border: 1px solid #d77145;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

.pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 70%;
    width: 100%;
}

.paginationclass{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2%;
}



@media (max-width: 1060px) {
    
    /* .masterdiv{
       
        align-items: center;
    }
    .navbardiv{
        justify-content: flex-start;
    } */

    .masterdiv{
        justify-content: center;
       
    }
    .contentdiv{
  align-items: center;
    }



}


















